<div class="row">
    <div class= "col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s5">
                        <form #winnerForm="ngForm" (ngSubmit)="onSubmit(winnerForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="winnerService.selectedWinner._id"> 
                             <div class="row">
                                <div class="input-field col s7">
                                    <input type="text" name="year" #year="ngModel" [(ngModel)]="winnerService.selectedWinner.year" placeholder="Enter year" required>
                                        <label>Year :
                                            <label class="red-text">*</label>
                                        </label>
                                </div>
                                <div class="input-field col s7">
                                    <input type="text" name="winner" #winner="ngModel" [(ngModel)]="winnerService.selectedWinner.winner" placeholder="Enter winner name" required>
                                        <label>Winner :
                                            <label class="red-text">*</label>
                                        </label>
                                </div>
                                <div class="input-field col s7">
                                    <input type="text" name="runnerup" #runnerup="ngModel" [(ngModel)]="winnerService.selectedWinner.runnerup" placeholder="Enter runner-up name" required>
                                        <label>Runner-up :
                                            <label class="red-text">*</label>
                                        </label>
                                </div>
                                <div class="input-field col s7">
                                    <input type="text" name="result" #result="ngModel" [(ngModel)]="winnerService.selectedWinner.result" placeholder="Enter game result" required>
                                        <label>Result :
                                            <label class="red-text">*</label>
                                        </label>
                                </div> 
                                <div class="input-field col s7">
                                    <input type="text" name="mvp" #mvp="ngModel" [(ngModel)]="winnerService.selectedWinner.mvp" placeholder="Most Valuable Player name" required>
                                        <label>MVP :
                                            <label class="red-text">*</label>   
                                        </label>
                                </div>                                                                                                                                 
                            </div>
                            <div class="row">
                                <div class="input-field col s7">
                                    <button class="btn btn-custom right" type="button" (click)="resetForm(winnerForm)">Reset</button>
                                    <button class="btn btn-custom right" type="submit" [disabled]="!winnerForm.valid">Submit</button>
                                </div>
                            </div>                           
                        </form>
                    </div>
                    <div class="col s7">
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Winner</th>
                                    <th>Runner-up</th>
                                    <th>Result</th>
                                    <th>MVP</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let win of winnerService.winners">
                                <td>{{win.year}}</td>
                                <td>{{win.winner}}</td>
                                <td>{{win.runnerup}}</td>
                                <td>{{win.result}}</td>
                                <td>{{win.mvp}}</td>
                                <td>
                                    <a class="action-btn" (click)="onEdit(win)">
                                        <i class="material-icons color_orange">edit</i>
                                    </a>
                                    <a class="action-btn" (click)="onDelete(win._id,winnerForm)">
                                        <i class="material-icons color_red">delete</i>
                                    </a>                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>